#include("view/frag-header.vm")
<h2>Generate Report</h2>
<h3>Fetch data for ${permaId}</h3>
<p>
    This will fetch the review data from crucible and generate a latex template.
    You will be able to customize this template in the next step.
    It is recommended to use Firefox.
</p>
<form class="aui" method="post" action="./report-servlet-preview">
    <input type="submit" class="aui-button aui-button-primary" value="Next" />
</form>
#include("view/frag-footer.vm")