#* @vtlvariable name="availableTemplate" type="java.io.File" *#
#include("view/frag-header.vm")
<h2>Generate Report</h2>
<h3>Fetch data for ${permaId}</h3>
<p>
    This will fetch the review data from crucible and generate a latex template.
    This is a snapshot of the current review state. Changes after creating the template will not affect the template.
    You will be able to customize this template in the next step.
    It is recommended to use Firefox.
</p>
<form class="aui" method="post" action="./report-servlet-preview">

    <div class="field-group">
        <label for="select-template">Template
            <span class="aui-icon icon-required">(required)</span></label>
        <select id="select-template" name="select-template">
            #if( !$availableTemplates.isEmpty() )
                #foreach( $availableTemplate in $availableTemplates )
                    <option value="$availableTemplate.hashCode()">$availableTemplate.getName()</option>
                #end
            #else
                <div class="aui-message aui-message-error">
                    <p class="title">
                        <strong>Error!</strong>
                    </p>
                    No Template available.
                </div>
            #end
        </select>
        <div class="description">Template for report.</div>
    </div>
    <div class="field-group">
        <input type="submit" class="aui-button aui-button-primary" value="Next" />
    </div>

</form>
#include("view/frag-footer.vm")