#* @vtlvariable name="messages" type="java.util.ArrayList<java.lang.String>" *#
#* @vtlvariable name="lines" type="java.util.ArrayList<java.lang.String>" *#
#* @vtlvariable name="unreplacedVariables" type="java.util.ArrayList<java.lang.String>" *#
#* @vtlvariable name="message" type="java.lang.String" *#
#* @vtlvariable name="line" type="java.lang.String" *#
#* @vtlvariable name="unreplacedVariable" type="java.lang.String" *#
#include("view/frag-header.vm")
<h2>Generate Report</h2>

<h3>Preview for ${permaId}</h3>

#if( !$messages.isEmpty() )
    <div class="aui-message aui-message-warning">
        <p class="title">
            <strong>Warning!</strong>
        </p>
       #foreach( $message in $messages )
           <p>$message</p>
       #end
    </div>
#end
#if( !$unreplacedVariables.isEmpty() )
<div class="aui-message aui-message-warning">
    <p class="title">
        <strong>Warning!</strong>
    </p>
    <p>
        There are variables in the template that could not be provided automatically. They need to be corrected or replaced with an empty value.
    </p>
</div>
#end
<p>
    When you are happy with the latex template generate the pdf.
    Then the pdf will appear in you browser.
    Use the back button of your browser if you wish to update the template once again.
</p>

#if( !$unreplacedVariables.isEmpty() )
<form class="aui" id="fix" method="get">
<input type="hidden" name="step" value="TWO" />
#foreach( $unreplacedVariable in $unreplacedVariables )
    <div class="field-group">
        <label for="$unreplacedVariable">$unreplacedVariable</label>
        <input class="text medium-field" id="$unreplacedVariable" name="$unreplacedVariable" title="$unreplacedVariable" placeholder="content" type="text">
        <span class="aui-icon icon-help">help</span>
        <div class="description">Medium width input</div>
    </div>
#end
    <input class="aui-button aui-button-primary" type="submit" value="Fix">
</form>
#end

<form class="aui" id="generate" method="post">
    <textarea name="lines" class="full-size" rows="75">#foreach ( $line in $lines ) $line
#end</textarea>

    <input class="aui-button aui-button-primary" type="submit" value="Generate">
</form>

<style>
    #editor {
        position: relative;
        height:400px;
    }
</style>
<div id="editor" class="full-width"></div>

<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="UTF-8"></script>
#include("view/frag-footer.vm")